body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.image {
  display: none;
}

/* Next & previous buttons */
#prev {
  position: absolute;
  top: 43%;
  left: 0;
  cursor: pointer;
  padding: 16px;
  color: #333;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transform: rotate(-180deg);
}

#next {
  position: absolute;
  top: 43%;
  right: 0;
  cursor: pointer;
  padding: 16px;
  color: #333;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#prev:hover,
#next:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* We create this class with JavaScript. It makes the current dot darker gray */
.active {
  background-color: #717171;
}

/* create fade animation when switching between images */
.fade {
  /* Animation support for different browsers */
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(45deg);
  vertical-align: top;
  width: 0.45em;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 75%;
  }
}
